* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


*::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth !important;
}

body {
  background-image: url("adventure-ancient-antique-compass.jpg")          !important;
}


li {
  list-style: none;
}

:is(input)::placeholder {
  color: whitesmoke;
}

option {
  color: black;
}